@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar style start */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 2rem;
  height: 108px;
  background-color: #000;
  opacity: 0.7;
  color: white;
  position: fixed;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 0;
  transition: top 0.8s ease, height 0.3s ease;
}

.navbar.hidden {
  top: -108px; /* Adjust this value based on your navbar height */
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;

  img {
    max-height: 50px;
    transition: max-height 0.3s ease;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  gap: 1rem;
  transition: max-height 0.3s ease;

  li {
    margin-left: 20px;
    position: relative;
  }
}

.nav-links {
  a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
  }
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1e90ff;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #1e90ff;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Navbar style end */

/* Slider section start */
.slider-container {
  height: 100vh;
  width: 100%;
  background-color: #8cb6e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Slider section end */

/* connect & discover section start */
.connect-container {
  width: 100%;
  height: 100vh;

  .connect-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 2rem;
    border: 2px solid red;
    gap: 3rem;

    h2 {
      font-size: 2.7rem;
      letter-spacing: 3px;
    }
  }

  .connect-icons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .iconify {
      font-size: 3.5rem;
    }
  }

  .discover-wrapper {
    height: 50%;
    width: 100%;
    background-color: rgb(23, 123, 165, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;

    .discover-heading {
      font-size: 2.7rem;
      color: white;
      letter-spacing: 3px;
    }
  }

  .discover-content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .discover-content-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .discover-content-para {
      display: flex;
      gap: 1.8rem;
      width: fit-content;
      color: white;
      font-size: 18px;
      font-weight: 300;

      span {
        height: 22px;
        width: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#9fd028, #24ff00);
        border-radius: 5px;
        color: black;
      }
    }
  }
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

/* connect & discover section end */

/* Mobile and Tablet View */
@media (max-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .logo {
    margin-right: auto;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;

    li {
      width: 100%;
      margin: 0;
    }
  }

  .nav-links.active {
    display: flex;
    max-height: 500px;
  }

  .nav-links {
    a {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: left;
    }
  }

  .hamburger {
    display: flex;
  }

  /* Animate Hamburger Menu */
  .hamburger.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.open .nav-links {
    display: flex;
  }

  .logo {
    img {
      max-height: 40px;
    }
  }
  .nav-links {
    a {
      text-align: center;
    }
  }

  .nav-links a:hover::after {
    display: none;
  }

  .nav-links a.active::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1.5rem;
  }

  .nav-links a {
    font-size: 14px;
    text-align: center;
  }

  .logo {
    img {
      max-height: 40px;
    }
  }

  a.active::after {
    width: 50%;
  }
}
